<%-include('header')%>
<body>
	<link rel="stylesheet" href="css/app.css" />
	<div class="box wrapper">
		<div class="chatlist">
			<div class="chat"></div>
			<div class="chat"></div>
		</div>
		<div class="chatroom">
			<div class="chatdisplay"></div>
			<div class="chatarea">
				<div>
					
				<input id="chatinput" type="text" />
				</div>
					<div>
				<button class="btn" id="sendchat">
					전송
				</button>
				</div>
			</div>
		</div>
	</div>
</body>