<%-include('header')%>
<body>
<link rel="stylesheet" type="text/css" href="css/auth.css" />
	<div class="box" id="auth-box">
		<h1 id="logo">
			LOGIN
		</h1>
		<hr class="mid-hr" />
		<input type="text" class="auth-input" id="useremail" placeholder="이메일" />
		<input type="password" class="auth-input" id="userpwd" placeholder="비밀번호" />
		<a href='#'>
			<div class='btn submit-btn' id='submit'>
				<i class="fas fa-arrow-right" id='submit-icon'></i>
			</div>
		</a>
		<div class='box-footer'>
			<p>
				본 클라이언트는 카카오에서 제공하는 클라이언트가 아닙니다.
			</p>
			<p>
				Github@Del-Los-Leones
			</p>
		</div>
	</div>
</body>