<%-include('header')%>
<body>
	<link rel="stylesheet" type="text/css" href="css/auth.css" />
	<script src="js/script.js"></script>
	<div class="box" id="auth-box">
		<div id="register-form">
			<h1 id="logo">
				REGISTER
			</h1>
			<hr class="mid-hr" />
			<input type="email" class="auth-input" id="useremail" placeholder="이메일" />
			<input type="password" class="auth-input" id="userpwd" placeholder="비밀번호" />
			<input type="text" class="auth-input" id="username" placeholder="닉네임" />
			<button style="text-decoration: none;" class="btn request-btn" id="submit">
				인증번호 요청
			</button>
		</div>
		<div class="box-footer">
			<p>
				본 클라이언트는 카카오에서 제공하는 클라이언트가 아닙니다.
			</p>
			<p>
				Github@Del-Los-Leones
			</p>
		</div>
	</div>
</body>