<%-include('header')%>
<body>
	<link rel="stylesheet" type="text/css" href="css/auth.css" />
	<div class="box" id="auth-box">
		<h1 id="logo">
			REGISTER
		</h1>
		<hr class="mid-hr" />
		<input type="text" class="auth-input" id="userid" placeholder="이메일" />
		<input type="password" class="auth-input" id="userpwd" placeholder="비밀번호" />
		<a href='#' style='text-decoration: none;'>
			<div class='btn request-btn' id='submit'>
				인증번호 요청
			</div>
		</a>
		<div class='box-footer'>
			<p>
				본 클라이언트는 카카오에서 제공하는 클라이언트가 아닙니다.
			</p>
			<p>
				Github@Del-Los-Leones
			</p>
		</div>
	</div>
</body>