<%-include('header')%>
<body>
	<script
		src="https://cdn.socket.io/3.1.3/socket.io.min.js"
		integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
		crossorigin="anonymous"
	></script>
	<link rel="stylesheet" href="css/talkview.css" />
	<div class='container'>
		<div class='list-container' id='channellist'>
			<div class='logo-container'>
				<p class='logo'>
					ExpressTalk
				</p>
			</div>
			<div class='searchbox-container'>
				<input class='searchbox'>
			</div>
			<p class='channel focus'>
				<button id='a'>
					asdf
				</button>
			</p>
		</div>
		<div class='chatroom-container'>
			
		</div>
	</div>
</body>